# ignore all files
*
# except those that have an extension
!/**/
!*.*

# also except makefiles
!makefile
!Makefile

# include manually compiled object files (or gen. w/ makefiles)
*.o
*.out
*.exe

# should probably have included the prot & fasta files from the start
*.fasta

# they tend to be in 5-10 MB range...
*.prot_table

# ignore data files
*.data

# ignore all files in a build directory
build/
build/*

# project 9:
# ignore all the text files
/project_9/docs/*
