# ignore all files
*
# except those that have an extension
!/**/
!*.*

# also except makefiles
!makefile
!Makefile

# also object files that are compiled with make files
*.o
*.out

# should probably have included the prot & fasta files from the start
*.fasta

# they tend to be in 5-10 MB range...
*.prot_table

# ignore data files
*.data

# project 9:
# ignore all the text files
/project_9/docs/*
